<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- IMU physical representation link -->
    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.02 0.02 0.01"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.02 0.02 0.01"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.05" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001" />
        </inertial>
    </link>

    <joint name="imu_chassis_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_link"/>
        <!-- Adjust origin Z value as needed to sit above your chassis -->
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
    </joint>

    <!-- Required plugin to process IMU data in Gazebo Harmonic -->
    <gazebo>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
    </gazebo>

    <!-- Here you declare the imu class that gazebo will interpret -->
    <gazebo reference="imu_link">
        <sensor name="imu" type="imu">
            <always_on>true</always_on>
            <!-- Frequency of sampling 100hz -->
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
            <gz_frame_id>imu_link</gz_frame_id>

            <imu>
                <angular_velocity>
                    <x><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></x>
                    <y><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></y>
                    <z><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></z>
                </angular_velocity>
                <linear_acceleration>
                    <x><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></x>
                    <y><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></y>
                    <z><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></z>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>
    
</robot>